.Loading{
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img{
        width: 50px;
    }
    h5{
        color: gray;
    }
}